<h1>Customer Page</h1>

<button mat-stroked-button color='primary' (click)='getAllCustomers()'>Get All Customers</button>
<button mat-stroked-button color='primary' (click)='save()'>Add</button>

<div *ngIf='customers != null' style='display:flex; flex-grow: 1; flex-direction: row;'>
    <mat-list style='display:flex; flex-grow: 1; flex-direction: column;'>
        <mat-list-item *ngFor='let c of customers' style='margin-top:80px;'> 
            <div style='display:flex; flex-direction: column;flex-grow: 1;'>
                <label>Name : {{c.fullName}}</label>
                <label>Date Of Birth : {{c.dob | date }} </label>
                <label>Age : {{c.age}}</label>
                <div style='display:flex;margin-top:5px;'>
                    <button mat-stroked-button color='primary' (click)='update()'>Update</button>
                    <button mat-stroked-button color='warn' (click)='delete(c.id)'>Delete</button>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>

